/* You can add global styles to this file, and also import other style files */
.theme-yellow{
  background-color: #feda6a;
}
.theme-silver{
  background-color: #d4d4dc;
}
.theme-slate{
  background-color: #1d1e22;
}
.theme-gray{
  background-color: #393f4d;
}
html {
  background-color: #1d1e22;
}