<h3 class="text-center text">Login</h3>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <h5 class="text-center text">{{loadingMessage}}</h5>
    <h3 class="text-center text-warning">{{apiMessage}}</h3>
    <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()" novalidate>
      <div class="form-group">
        <label for="usernameInput" class="text">Username</label>
        <input formControlName="username" type="text" [className]="usernameValidationMessage ? 'form-control is-invalid' : 'form-control is-valid'" id="usernameInput" aria-describedby="usernameHelp" placeholder="Enter Username">
        <div id="failedUsernameValidation" *ngIf="usernameValidationMessage" class="invalid-feedback">
          {{usernameValidationMessage}}
        </div>
      </div>
      <div class="form-group">
        <label for="passwordInput" class="text">Password</label>
        <input [className]="passwordValidationMessage ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="password" type="password" id="passwordInput" placeholder="Password">
        <div id="failedPasswordValidation"  *ngIf="passwordValidationMessage" class="invalid-feedback">
          {{passwordValidationMessage}}
        </div>
      </div>
      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col"></div>
</div>
