<div>
  <div *ngIf="ProviderCreator; else notCreator" class="card">
    <div class="card-title">
      <div class="card-body">
        <h5 class="card-title text-center">Create Password Provider</h5>
        <form [formGroup]="form" (ngSubmit)="OnSubmit()">
          <h3>{{errorMessage}}</h3>
          <div class="form-group">
            <label for="cardNameInput">Provider Name</label>
            <input formControlName="providerName" type="text" id="cardNameInput" placeholder="Provider Name" class="form-control">
          </div>
          <div class="form-group">
              <label for="cardPasswordInput">Password</label>
              <input formControlName="password" type="password" id="cardPasswordInput" placeholder="Password" class="form-control">
          </div>
          <button id="cardSubmit" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #notCreator>
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">{{ApplicationName}}</h5>
      <span [hidden]="!showPassword" id="password">Password: {{Password}}</span>
      <button (click)="ToggleShow()" class="btn btn-primary">{{buttonText}}</button>
      <button ngxClipboard (click)="CopyPassword()" [hidden]="!showPassword">Copy Password</button>
    </div>
  </div>
</ng-template>