<div>
  <h3 *ngIf="loading; else doneLoading" class="text-center text">Loading</h3>
</div>

<ng-template #doneLoading>
  <h3 class="text-center text">Passwords</h3>
  <div class="row">
    <div class="col-1"></div>
    <div *ngFor="let provider of providers" class="col-4">
      <app-password-card [ProviderCreator]="false" [ApplicationName]="provider.applicationName" [Password]="provider.password"></app-password-card>
    </div>
    <div class="col-10">
      <app-password-card [ProviderCreator]="true" (ProvideEvent)="OnProvider($event)"></app-password-card>
    </div>
    <div class="col-1"></div>
  </div>
</ng-template>
